.root .MuiTextField-root{
      margin: 8px;
  }
  .paper {
    padding: 16px !important;
    border-radius: 15px !important;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fileInput {
    width: 97%;
    margin: 10px 0;
  }

  .buttonSubmit {
    margin-bottom: 10px !important;
  }